node-red/flows/74HC165 - two_flows_with_two_ic.json
[{"id":"e31cd741.de1c68","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"18a4eed8.833181","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"774ffd1a.7822a4","type":"74HC165","z":"e31cd741.de1c68","name":"","bit":"0","serialOut":11,"loadData":13,"clock":15,"bits":"16","x":110,"y":100,"wires":[[]]},{"id":"5e03c064.73c4c","type":"74HC165","z":"e31cd741.de1c68","name":"","bit":"2","serialOut":11,"loadData":13,"clock":15,"bits":"16","x":110,"y":220,"wires":[[]]},{"id":"37dcbe3d.e95322","type":"74HC165","z":"e31cd741.de1c68","name":"","bit":"3","serialOut":11,"loadData":13,"clock":15,"bits":"16","x":110,"y":280,"wires":[[]]},{"id":"99b941e1.325d7","type":"74HC165","z":"e31cd741.de1c68","name":"","bit":"4","serialOut":11,"loadData":13,"clock":15,"bits":"16","x":110,"y":340,"wires":[[]]},{"id":"ab51ee0a.bd3b9","type":"74HC165","z":"e31cd741.de1c68","name":"","bit":"5","serialOut":11,"loadData":13,"clock":15,"bits":"16","x":110,"y":400,"wires":[[]]},{"id":"c2842be1.16b678","type":"74HC165","z":"e31cd741.de1c68","name":"","bit":"6","serialOut":11,"loadData":13,"clock":15,"bits":"16","x":110,"y":460,"wires":[[]]},{"id":"994e63e1.9dd74","type":"74HC165","z":"e31cd741.de1c68","name":"","bit":"7","serialOut":11,"loadData":13,"clock":15,"bits":"16","x":110,"y":520,"wires":[[]]},{"id":"17e49699.460219","type":"74HC165","z":"e31cd741.de1c68","name":"","bit":"15","serialOut":11,"loadData":13,"clock":15,"bits":"16","x":310,"y":520,"wires":[[]]},{"id":"f128b04.615fc5","type":"74HC165","z":"e31cd741.de1c68","name":"","bit":"14","serialOut":11,"loadData":13,"clock":15,"bits":"16","x":310,"y":460,"wires":[[]]},{"id":"1d3d320c.790a9e","type":"74HC165","z":"e31cd741.de1c68","name":"","bit":"13","serialOut":11,"loadData":13,"clock":15,"bits":"16","x":310,"y":400,"wires":[[]]},{"id":"51e64a88.420ee4","type":"74HC165","z":"e31cd741.de1c68","name":"","bit":"12","serialOut":11,"loadData":13,"clock":15,"bits":"16","x":310,"y":340,"wires":[[]]},{"id":"9fea33a6.c2f07","type":"74HC165","z":"e31cd741.de1c68","name":"","bit":"11","serialOut":11,"loadData":13,"clock":15,"bits":"16","x":310,"y":280,"wires":[[]]},{"id":"12d58fba.a04de","type":"74HC165","z":"e31cd741.de1c68","name":"","bit":"10","serialOut":11,"loadData":13,"clock":15,"bits":"16","x":310,"y":220,"wires":[[]]},{"id":"d2d016c0.0d0858","type":"74HC165","z":"e31cd741.de1c68","name":"","bit":"9","serialOut":11,"loadData":13,"clock":15,"bits":"16","x":310,"y":160,"wires":[[]]},{"id":"f61e0a6c.41c8a8","type":"74HC165","z":"e31cd741.de1c68","name":"","bit":"8","serialOut":11,"loadData":13,"clock":15,"bits":"16","x":310,"y":100,"wires":[["3567f8dd.75db98","62e85bfb.723cb4","16b24e83.64daa1","4d0fa673.5e0298"]]},{"id":"580cf2fa.2debec","type":"74HC165","z":"e31cd741.de1c68","name":"","bit":"1","serialOut":11,"loadData":13,"clock":15,"bits":"16","x":110,"y":160,"wires":[[]]},{"id":"8e5a1c41.030d7","type":"74HC165","z":"18a4eed8.833181","name":"","bit":"0","serialOut":11,"loadData":13,"clock":15,"bits":"16","x":110,"y":100,"wires":[[]]},{"id":"2feaa5f4.4855da","type":"74HC165","z":"18a4eed8.833181","name":"","bit":"2","serialOut":11,"loadData":13,"clock":15,"bits":"16","x":110,"y":220,"wires":[[]]},{"id":"8634b64f.828998","type":"74HC165","z":"18a4eed8.833181","name":"","bit":"3","serialOut":11,"loadData":13,"clock":15,"bits":"16","x":110,"y":280,"wires":[[]]},{"id":"99673261.d982f","type":"74HC165","z":"18a4eed8.833181","name":"","bit":"4","serialOut":11,"loadData":13,"clock":15,"bits":"16","x":110,"y":340,"wires":[[]]},{"id":"cb1f2fa8.ce28e","type":"74HC165","z":"18a4eed8.833181","name":"","bit":"5","serialOut":11,"loadData":13,"clock":15,"bits":"16","x":110,"y":400,"wires":[[]]},{"id":"a0c231e5.d3481","type":"74HC165","z":"18a4eed8.833181","name":"","bit":"6","serialOut":11,"loadData":13,"clock":15,"bits":"16","x":110,"y":460,"wires":[[]]},{"id":"4cb1ae4f.8c59d","type":"74HC165","z":"18a4eed8.833181","name":"","bit":"7","serialOut":11,"loadData":13,"clock":15,"bits":"16","x":110,"y":520,"wires":[[]]},{"id":"95787cf2.81b26","type":"74HC165","z":"18a4eed8.833181","name":"","bit":"15","serialOut":11,"loadData":13,"clock":15,"bits":"16","x":310,"y":520,"wires":[["a0f031f6.faf96","d049ce7b.9c148","34f7dc89.673ef4","61f5870b.35d9c8"]]},{"id":"dad6be06.632a3","type":"74HC165","z":"18a4eed8.833181","name":"","bit":"14","serialOut":11,"loadData":13,"clock":15,"bits":"16","x":310,"y":460,"wires":[[]]},{"id":"1cf222a7.9c9d3d","type":"74HC165","z":"18a4eed8.833181","name":"","bit":"13","serialOut":11,"loadData":13,"clock":15,"bits":"16","x":310,"y":400,"wires":[[]]},{"id":"3da80f66.664f5","type":"74HC165","z":"18a4eed8.833181","name":"","bit":"12","serialOut":11,"loadData":13,"clock":15,"bits":"16","x":310,"y":340,"wires":[[]]},{"id":"58ffcfdd.aa808","type":"74HC165","z":"18a4eed8.833181","name":"","bit":"11","serialOut":11,"loadData":13,"clock":15,"bits":"16","x":310,"y":280,"wires":[[]]},{"id":"f91c7138.9dea","type":"74HC165","z":"18a4eed8.833181","name":"","bit":"10","serialOut":11,"loadData":13,"clock":15,"bits":"16","x":310,"y":220,"wires":[[]]},{"id":"6864e993.a5aa88","type":"74HC165","z":"18a4eed8.833181","name":"","bit":"9","serialOut":11,"loadData":13,"clock":15,"bits":"16","x":310,"y":160,"wires":[[]]},{"id":"f1d70ac1.6dde88","type":"74HC165","z":"18a4eed8.833181","name":"","bit":"8","serialOut":11,"loadData":13,"clock":15,"bits":"16","x":310,"y":100,"wires":[[]]},{"id":"aae57e67.02be2","type":"74HC165","z":"18a4eed8.833181","name":"","bit":"1","serialOut":11,"loadData":13,"clock":15,"bits":"16","x":110,"y":160,"wires":[[]]},{"id":"3567f8dd.75db98","type":"debug","z":"e31cd741.de1c68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"bit","targetType":"msg","x":560,"y":140,"wires":[]},{"id":"62e85bfb.723cb4","type":"debug","z":"e31cd741.de1c68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":180,"wires":[]},{"id":"16b24e83.64daa1","type":"debug","z":"e31cd741.de1c68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"storeId","targetType":"msg","x":570,"y":220,"wires":[]},{"id":"4d0fa673.5e0298","type":"debug","z":"e31cd741.de1c68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"id","targetType":"msg","x":550,"y":100,"wires":[]},{"id":"a0f031f6.faf96","type":"debug","z":"18a4eed8.833181","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"id","targetType":"msg","x":550,"y":520,"wires":[]},{"id":"d049ce7b.9c148","type":"debug","z":"18a4eed8.833181","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"bit","targetType":"msg","x":560,"y":560,"wires":[]},{"id":"34f7dc89.673ef4","type":"debug","z":"18a4eed8.833181","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":600,"wires":[]},{"id":"61f5870b.35d9c8","type":"debug","z":"18a4eed8.833181","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"storeId","targetType":"msg","x":570,"y":640,"wires":[]},{"id":"a2b6bbef.c6df28","type":"comment","z":"18a4eed8.833181","name":"Second 74HC165","info":"Second 74HC165","x":330,"y":40,"wires":[]},{"id":"fbc5fc71.117c3","type":"comment","z":"e31cd741.de1c68","name":"First 74HC165","info":"First 74HC165","x":110,"y":40,"wires":[]},{"id":"c21cf937.1d0758","type":"comment","z":"e31cd741.de1c68","name":"Second 74HC165","info":"Second 74HC165","x":330,"y":40,"wires":[]},{"id":"856d1379.e2a8b","type":"comment","z":"18a4eed8.833181","name":"First 74HC165","info":"First 74HC165","x":110,"y":40,"wires":[]}]